# 의존성 라이브러리
node_modules/

# 빌드 결과물
dist/
dist_dev/

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 에디터 및 OS 설정 파일
.vscode/
.idea/
.DS_Store
Thumbs.db
manifest.json
secrets.json